@use './vars' as v;

@mixin transition($prop, $duration: v.$duration, $timing: v.$timing) {
    transition: $prop $duration $timing;
}


@mixin position($position, $args) {
    @each $o in top right bottom left {
      $i: index($args, $o);
   
      @if $i and $i + 1<= length($args) and type-of(nth($args, $i + 1)) == number  {
        #{$o}: nth($args, $i + 1);
      }
    }
    position: $position;
  }
   
  @mixin absolute($args) {
    @include position(absolute, $args);
  }

  @mixin absolute-center {
    @include position(absolute, top 50% left 50%);
    translate: -50% -50%;
  }
   
  @mixin fixed($args) {
    @include position(fixed, $args);
  }
   
  @mixin relative($args) {
    @include position(relative, $args);
  }


@mixin flex($direction: none, $jc: space-between, $ai: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $jc;
    align-items: $ai;
}

@mixin flex-center {
    @include flex(row, center, center);
}

@mixin flex-col-center {
  @include flex(column, center, center);
}

@mixin for-phone {
    @media screen and (max-width: v.$bp-phone) { @content; }
}

@mixin for-tablet-up {
    @media screen and (min-width: v.$bp-tablet) { @content; }
}

@mixin for-desktop-up {
    @media screen and (min-width: v.$bp-desktop) { @content; }
}